form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    gap: 5px;
}

input:required {
    border-width: 2px;
    border-color: #FF8630;
    background-color: rgb(255 134 48 / 0.1);
  }
.input{
    width: 400px;
    height: 40px;
    border-radius: 8px;
}
.error{
    color: red;
    font-size: 15px;
}
.redBorder{
 border-color:red ;
}
#submitButton{
    width: 160px;
    height: 40px;
}

@media (max-width: 600px) {
    .input {
        width: 90%; 
        max-width: none;
    }

    form {
        margin-top: 20px;
    }

    .error {
        font-size: 12px;
    }
}